/*
            Welcome to your custom CSS!
            These variables make up the majority of the colors used
            throughout the site.  So adjusting this is a quick way
            to change your site's aesthetic.
            Go ahead, try it out!
*/
:root{
  --primary-bg: cornflowerblue;
  --primary-color: peachpuff;
  --accent-color: salmon;
  --primary-font: charter;
  --font-size: 26px;
}
