/*
Welcome to the main stylesheet!

This holds some basic, global styling.
All of the color settings are held in custom.css, and that's a much easier way to
adjust your work.

This is a good place to put in styling if you want to fundamentally chagne all aspects of an element.
like if you want all <a> tags to be green and giant no matter what.

For more nuanced takes, check out the pages and components in the src folder as each has its own specific style section.
*/

body, html, section, div, h1, h2, h3, h4, p, ul, li, a, figure, img {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-bg);
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: var(--font-size);
}
/*
  Here is Code to import our font files into our stylesheet.  We are naming our fonts here, and then the path to find the font-file.  So if you want to add another font, you'd follow a v. similar pattern: put the font into the fonts, folder, then add a font-face object like you see here.

  In this case, We are taking our fonts from another dat, one that is just a font repository, to make the size of this island smaller.  Feel free to do the same (e.g. use this font library too!)
*/
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url(dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-MediumItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans-Text';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-Text.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans-Text';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-TextItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
