<script>
 import { onMount } from 'svelte';
 import { Router } from '@sveltech/routify';
 import { routes } from '@sveltech/routify/tmp/routes';
 import { archive } from './stores';

 onMount(() => archive.set(new DatArchive(window.location)));
</script>

<main>
  <Router {routes} />
</main>
